header{
    background-color: #ffffff;
}
body{
    background: url(..\Desktop\uofm\basic-portfolio\assets\images\spiration )png;
}
h1{
    background-color: #4aaaa5;
    color:white;
}
p{
    color: #777777;
}
h2, h3{
    color:#777777;
}